<table>
	<thead>
		<tr>
			<th>Project_Name</th>
			<th>Zone</th>
			<th>State</th>
			<th>District</th>
			<th>Description</th>
			<th>Location</th>
			<th>Component</th>
			<th>Status</th>
		</tr>
		<tbody>
			<% @tickets.each do |ticket|%>
				<tr>
					<td><%=ticket.project_name%></td>
					<td><%=ticket.zone%></td>
					<td><%=ticket.state%></td>
					<td><%=ticket.district%></td>
					<td><%=ticket.description%></td>
					<td><%=ticket.location%></td>
					<td><%=ticket.component%></td>
					<td><%=ticket.status%></td>
				</tr>
			<% end %> 
		</tbody>
	</thead>
</table>